# ENV
.env
.env.*

# Dependencies
node_modules/

# Build output
dist/
build/

# Logs
logs/
*.log
npm-debug.log*
yarn-error.log*

# TypeScript
*.tsbuildinfo

# Coverage
coverage/

# OS
.DS_Store
Thumbs.db

# Editor
.vscode/
